<h2>LISTA DE PRODUCTOS</h2>

<div class="containerProducts">
    {{#if products.length}}
        {{#each products}}
            <ul class="containerUl">
                <p><span>Producto:</span> {{title}}</p>
                <p><span>Descripcion:</span> {{description}}</p>
                <p><span>Precio:</span> {{price}}</p>
                <p><span>Codigo: </span>{{code}}</p>
                <p><span>Stock:</span> {{stock}}</p>
                <p><span>Categoria:</span> {{category}}</p>
                <p><span>ID:</span> {{id}}</p>
            </ul>
            
        {{/each}}
        {{else}}
            <p class="noProduct">No hay productos</p>
    {{/if}}
</div>