<div class="containerProfile">

    <h1>Datos de Usuario</h1>

    <p><strong>Nombre:</strong> {{userData.first_name}} {{userData.last_name}}</p>
    <p><strong>Edad:</strong> {{userData.age}}</p>
    <p><strong>Email Registrado:</strong> {{userData.email}}</p>
    <p><strong>Rol asignado:</strong> {{userData.role}}</p>

</div>
